<div *ngIf="isActivityMaximized" class="callDisplay">
  <div class="editor callHeader">
    <label class="headerLabel">
      <b>Activity Information</b>
    </label>
    <img class="ViewResizeImage" src="/assets/images/section_collapse.png" (click)="isActivityMaximized = false" title="Collapse">
  </div>
  <div class="callBody">
    <div class="activityFields">
      <form>
        <div class="editor displayDiv">
          <label class="displayLabels" title="Call From">Name</label>
          <select class="dropDownListStyle displayData" data-resetperactivity="false" (change)="onNameSelectChange($event)">
            <option *ngFor="let who of storageService.whoList" value="{{who.objectId}}">{{parseWhoObject(who)}}</option>
          </select>
        </div>
        <div class="editor displayDiv">
          <label class="displayLabels" title="Related To">Related To</label>
          <select class="dropDownListStyle displayData" (change)="onRelatedToChange($event)" data-resetperactivity="false">
            <option *ngFor="let what of storageService.whatList" value="{{what.objectId}}">{{parseWhatObject(what)}}</option>
          </select>
        </div>
        <div class="editor displayDiv">
          <label class="displayLabels" title="Subject">Subject</label>
          <input class="activitySubjectTextBoxStyle displayData" (change)="onSubjectChange($event)" title="{{storageService.activity.Subject}}"
            type="text" value="{{storageService.activity.Subject}}">
        </div>
        <div class="editor displayDiv">
          <div class="callNotesContainer">
            <div class="textAreaDiv">
              <textarea value="{{storageService.activity.Description}}" placeholder="Click to add a comment" class="activityCommentsTextBoxStyle"
                (change)="onCallNotesChange($event)" cols="20" rows="2" title=""></textarea>
            </div>
            <div class="notesBottonBorder">
              <div class="commentsButtonDiv">
                <div class="quickCommentsDiv">
                  <input *ngFor="let quickComment of quickCommentList; let i = index;" class="quickNotesBotton" type="button"
                    value="{{i+1}}" (click)="loadQuickComment(i)" title="{{quickComment}}">
                </div>
                <div class="submitDiv">
                  <input class="submitButton" type="button" value="Submit" (click)="activitySave(false, true)">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="!isActivityMaximized" class="callDisplay">
  <div class="editor callHeader">
    <label class="headerLabel">
      <b>Activity Information</b>
    </label>
    <img class="ViewResizeImage" src="assets/images/section_expand.png" (click)="isActivityMaximized = true" title="Expand">
  </div>
