<div *ngIf="isActivityMaximized" class="callDisplay">
  <div class="editor callHeader">
    <label class="headerLabel">
      <b>Activity Information</b>
    </label>
    <img class="ViewResizeImage" src="/assets/images/section_collapse.png" (click)="isActivityMaximized = false" title="Collapse">
  </div>
  <div class="callBody">
    <div class="activityFields">
      <form>
        <div class="editor displayDiv">
          <label class="displayLabels" title="Name">Name</label>
          <select class="dropDownListStyle displayData" [(ngModel)]="storageService.selectedWhoValueList[this.scenarioId]" name="whoItem" (change)="onNameSelectChange($event)">
            <option *ngFor="let whoItem of storageService.whoList[this.scenarioId]" value="{{whoItem.objectId}}">{{parseWhoObject(whoItem)}}</option>
            <option value="UserSelectedForEmptyRecord"></option>
          </select>
        </div>
        <div class="editor displayDiv" *ngIf='(this.storageService.activityList[this.scenarioId].WhoObject && this.storageService.activityList[this.scenarioId].WhoObject.objectType !== "Lead")'>
          <label class="displayLabels" title="Related To">Related To</label>
          <select class="dropDownListStyle displayData" (change)="onRelatedToChange($event)" [(ngModel)]="storageService.selectedWhatValueList[this.scenarioId]" name="whatItem">
            <option *ngFor="let whatItem of storageService.whatList[this.scenarioId]" value="{{whatItem.objectId}}">{{parseWhatObject(whatItem)}}</option>
            <option value="UserSelectedForEmptyRecord"></option>
          </select>
        </div>
        <div class="editor displayDiv">
          <label class="displayLabels" title="Subject">Subject</label>
          <input class="activitySubjectTextBoxStyle displayData" (keyup)="onSubjectChange($event)" (change)="onSubjectChange($event)" title="{{storageService.getSubject()}}"
            type="text" value="{{storageService.getSubject()}}">
        </div>
        <div class="editor displayDiv">
          <div class="callNotesSection">
            <div class="callNotesTextArea">
              <textarea value="{{storageService.getDescription()}}" placeholder="Click to add a comment" class="activityCommentsTextBoxStyle"
              (keyup)="onCallNotesChange($event)" (change)="onCallNotesChange($event)" cols="20" rows="2" title=""></textarea>
            </div>
            <div class="notesBottonBorder">
              <div class="commentsButtonDiv">
                <div class="quickCommentsDiv">
                  <input *ngFor="let quickComment of quickCommentList; let i = index;" class="quickNotesBotton" type="button"
                    value="{{i+1}}" (click)="loadQuickComment(i)" title="{{quickComment}}">
                </div>
                <div class="callNotesButtonsSection">
                  <input *ngIf="!storageService.getActivity().IsProcessing" class="submitButton" type="button" value="Submit" (click)="submitActivity(storageService.getActivity().ScenarioId)" [disabled]="!storageService.getActivity().IsUnSaved" />
                  <img *ngIf="storageService.getActivity().IsProcessing" class="loadingIcon" src="assets/images/loading.gif" title="Updating Activity" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div *ngIf="!isActivityMaximized" class="callDisplay">
  <div class="editor callHeader">
    <label class="headerLabel">
      <b>Activity Information</b>
    </label>
    <img class="ViewResizeImage" src="assets/images/section_expand.png" (click)="isActivityMaximized = true" title="Expand">
  </div>
