<div class="callSection">
  <div *ngIf="collapseToggle" class="callDisplay">
    <div class="editor callHeader">
      <label class="headerLabel">
        <b>Recent Calls</b>
      </label>
      <img class="ViewResizeImage" src="/assets/Images/section_collapse.png" title="Collapse" (click)="expandAndCollapse(false)" />
    </div>
    <div class="callBodyBorderless">
      <div *ngFor="let recentScenarioId of storageService.recentScenarioIdList; let last = last">
        <div *ngIf="this.storageService.workingRecentScenarioId === recentScenarioId">
          <div (click)="expandAndCollapseRecentActivity(false, recentScenarioId)" class="editor callHeaderRecentActivitySelected">
            <label class="headerLabelClickableLook">
              <img src="/assets/Images/Phone_Number_Icon.png" class="RecentCallsImg"/>
              <b>{{ storageService.activityList[recentScenarioId].Subject }}</b>
            </label>
            <img class="RecentCallsImg" src="/assets/Images/open_activity.png" title="Open Activity" (click)="openActivity(recentScenarioId);$event.stopPropagation();" />
          </div>
          <div class="callBody">
            <div class="gray-out" *ngIf="storageService.activityList[recentScenarioId].IsRecentWorkItemLoading">
              <div class="spinner-container">
                <img class="spinner" src="./../../assets/images/view_progress.gif" />
              </div>
            </div>
            <div class="activityFields">
              <form>
                <div class="editor displayDiv">
                  <label class="displayLabels" title="Subject">Subject</label>
                  <input class="activitySubjectTextBoxStyle displayData" type="text" (keyup)="onSubjectChange($event)" (change)="onSubjectChange($event)" name="storageService.activityList[recentScenarioId].Subject" [(ngModel)]="storageService.activityList[recentScenarioId].Subject" value="{{ storageService.activityList[recentScenarioId].Subject }}" />
                </div>
                <div class="editor displayDiv">
                  <label class="displayLabels" title="Name">Name</label>
                  <select class="dropDownListStyle displayData" (change)="onNameChange($event)" [(ngModel)]="storageService.selectedWhoValueList[recentScenarioId]" name="whoItem">
                    <option *ngFor="let whoItem of storageService.whoList[recentScenarioId]" value="{{ whoItem.objectId }}">{{ parseWhoObject(whoItem) }}</option>
                    <option value="UserSelectedForEmptyRecord"></option>
                  </select>
                </div>
                <div class="editor displayDiv">
                  <label class="displayLabels" title="Regarding">Related To</label>
                  <select class="dropDownListStyle displayData" [(ngModel)]="storageService.selectedWhatValueList[recentScenarioId]" (change)="onRelatedToChange($event)" name="whatItem">
                    <option *ngFor="let whatItem of storageService.whatList[recentScenarioId]" value="{{ whatItem.objectId }}">{{ parseWhatObject(whatItem) }}</option>
                    <option value="UserSelectedForEmptyRecord"></option>
                  </select>
                </div>
                <div class="editor displayDiv">
                  <div class="callNotesSection">
                    <div class="callNotesTextArea">
                      <textarea placeholder="Click to add a comment" (keyup)="onCallNotesChange($event)" (change)="onCallNotesChange($event)" name="storageService.activityList[recentScenarioId].Description" [(ngModel)]="storageService.activityList[recentScenarioId].Description"
                        class="activityCommentsTextBoxStyle" value="{{ storageService.activityList[recentScenarioId].Description }}"
                        rows="5" title="">
                      </textarea>
                    </div>
                    <div class="notesBottonBorder">
                      <div class="commentsButtonDiv">
                        <div class="quickCommentsDiv">
                          <input *ngFor="let quickComment of quickCommentList; let i = index;" class="quickNotesBotton" type="button"
                            value="{{i+1}}" (click)="loadQuickComment(i, recentScenarioId)" title="{{quickComment}}">
                        </div>
                        <div class="callNotesButtonsSection">
                          <input *ngIf="!storageService.activityList[recentScenarioId].IsProcessing" class="submitButton" type="button" value="Save" (click)="submitActivity(recentScenarioId)" [disabled]="!storageService.activityList[recentScenarioId].IsUnSaved"/>
                          <img *ngIf="storageService.activityList[recentScenarioId].IsProcessing" class="loadingIcon" src="assets/images/loading.gif" title="Updating Activity" />
                        </div>
                      </div>
                     </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div *ngIf="!(this.storageService.workingRecentScenarioId === recentScenarioId)">
          <div [class.callHeaderBottomBorder]='last' (click)="expandAndCollapseRecentActivity(true, recentScenarioId)" class="editor callHeaderRecentActivityUnselected">
            <label class="headerLabelClickableLook">
              <img src="/assets/Images/Phone_Number_Icon.png" class="RecentCallsImg"/>
              <b>{{ storageService.activityList[recentScenarioId].Subject }}</b>
            </label>
            <img class="RecentCallsImg" src="/assets/Images/open_activity.png" title="Open Activity" (click)="openActivity(recentScenarioId);$event.stopPropagation();" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="!collapseToggle" class="callDisplay">
    <div class="editor callHeader">
      <label class="headerLabel">
        <b>Recent Calls</b>
      </label>
      <img class="ViewResizeImage" src="/assets/Images/section_expand.png" title="Expand" (click)="expandAndCollapse(true)" />
    </div>
  </div>
</div>

