.callHeader {
  background-color: #f4f5fb !important;
  width: 100% !important;
  margin-top: 0px !important;
  border: 1px solid #939598 !important;
}

.displayDiv {
  width: 100%;
  display: flex;
}

.multiMatchImg {
  height: 18px;
  margin-left: 5px;
}

.editor {
  font-size: 0.9em;
  width: 70%;
  text-align: left;
  margin: 4px 5% 0 0px;
  font-family: Arial;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 0;
  padding-top: 2px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.editorFull {
  font-size: 0.9em;
  width: 100%;
  text-align: left;
  font-family: Arial;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 0;
  padding-top: 2px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.CRMResultImage {
  width: 18px;
  height: 18px;
  margin-right: -5px;
  margin-top: -5px;
}

.CRMResultImageMultiMatch {
  width: 18px;
  height: 18px;
  margin-right: 2px;
  margin-left: 5px;
  margin-top: -5px;
}

.CRMExpandImage {
  width: 6px;
  height: 6px;
  cursor: pointer;
  margin-bottom: 2px;
}

.callBody {
  border: 1px solid #939598;
  border-top-color: rgb(147, 149, 152);
  border-top-style: solid;
  border-top-width: 1px;
  border-top: 0;
  position: relative;
}

.callDisplay {
  margin-bottom: 8px;
  display: grid;
  background-color: #ffffff;
  display: grid;
}

.multipleSearchResultSelect {
  border: 1px solid #939598 !IMPORTANT;
  border-radius: 3px !IMPORTANT;
  width: 96% !IMPORTANT;
  height: 20px !IMPORTANT;
  text-align: left !IMPORTANT;
  white-space: nowrap !IMPORTANT;
  text-overflow: ellipsis !IMPORTANT;
  margin: 5px 0% 5px 6px;
  cursor: pointer;
}

.overflowWrapper {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.singleSearchResultSelect {
  border: 0px solid #939598 !IMPORTANT;
  /* width: 50% !IMPORTANT; */
  height: 20px !IMPORTANT;
  text-align: left !IMPORTANT;
  white-space: nowrap !IMPORTANT;
  text-overflow: ellipsis !IMPORTANT;
  margin: 0px 0% 0px 0px;
  outline: none;
}

.wrapper {
  width: 79% !IMPORTANT;
}

.singleMatchFirstWrapper {
  cursor: pointer;
  border: 0px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 65%;
}

.singleMatchTabbedItemsWrapper {
  width: 70%;
}

.displayLabels {
  margin-left: 5px;
  width: calc(20% + 5px);
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 0px;
  outline: none;
  overflow: hidden;
  max-width: 100px;
  vertical-align: middle;
}

.displayLabelsMultiMatch {
  margin-left: 5px;
  width: calc(20% + 5px);
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 0px;
  outline: none;
}

.displayLabelsTabbed {
  margin-left: 5px;
  width: 20%;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 0px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  max-width: 100px;
}

.matchedRecordsMargin {
  margin-top: 1%;
}

.ViewResizeImage {
  width: 20px;
  height: 20px;
  float: right;
  cursor: pointer;
}

.headerLabel {
  margin-left: 10px;
}

.firstSingleMatchResult {
  font-weight: 400;
  border: 0px solid #939598 !IMPORTANT;
  /* width: 50% !IMPORTANT; */
  height: 20px !IMPORTANT;
  text-align: left !IMPORTANT;
  white-space: nowrap !IMPORTANT;
  text-overflow: ellipsis !IMPORTANT;
  margin: 0px 0% 0px 5px;
  outline: none;
}

.multiMatchLabel {
  border: 0px;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 50%;
}

.singleMatchLabel {
  border: 0px;
  outline: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  width: 74%;
}
