.callHeader {
  background-color: #f4f5fb !important;
  width: 100% !important;
  margin-top: 0px !important;
  border: 1px solid #939598 !important;
}

.displayDiv {
  width: 100%;
  display: flex;
}

.multiMatchImg {
  height: 18px;
  margin-left: 5px;
}

.editor {
  font-size: 0.9em;
  width: 70%;
  text-align: left;
  margin: 4px 5% 0 0px;
  font-family: Arial;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 0;
  padding-top: 2px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.callBody {
  border: 1px solid #939598;
  border-top-color: rgb(147, 149, 152);
  border-top-style: solid;
  border-top-width: 1px;
  border-top: 0;
  position: relative;
}

.callDisplay {
  margin-bottom: 8px;
  display: grid;
  background-color: #ffffff;
  display: grid;
}

.multipleSearchResultSelect {
  border: 1px solid #939598 !IMPORTANT;
  border-radius: 3px !IMPORTANT;
  width: 96% !IMPORTANT;
  height: 20px !IMPORTANT;
  text-align: left !IMPORTANT;
  white-space: nowrap !IMPORTANT;
  text-overflow: ellipsis !IMPORTANT;
  margin: 5px 0% 5px 6px;
  cursor: pointer;
}

.singleSearchResultSelect {
  border: 1px solid #939598 !IMPORTANT;
  border-radius: 3px !IMPORTANT;
  width: 96% !IMPORTANT;
  height: 20px !IMPORTANT;
  text-align: left !IMPORTANT;
  white-space: nowrap !IMPORTANT;
  text-overflow: ellipsis !IMPORTANT;
  margin: 5px 0% 5px 6px;
  cursor: pointer;
}

.displayLabels {
  margin-left: 5px;
  width: 25%;
}

.editor {
  font-size: 0.9em;
  width: 70%;
  text-align: left;
  margin: 4px 5% 0 0px;
  font-family: Arial;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: 0;
  padding-top: 2px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.ViewResizeImage {
  width: 20px;
  height: 20px;
  float: right;
  cursor: pointer;
}

.headerLabel {
  margin-left: 10px
}
