<div class="callDisplay">
  <div class="editor callHeader">
    <label class="headerLabel">
      <b>Caller Information</b>
    </label>
    <img
      title="Multiple Matches Available"
      *ngIf="!storageService.searchReturnedSingleResult"
      src="../../assets/images/MultiMatchAlert.png"
      class="multiMatchImg"
    />
    <img
      *ngIf="isSearchInformationMaximized"
      class="ViewResizeImage"
      src="assets/images/section_collapse.png"
      (click)="collapseCallerInformationSection()"
      title="Collapse"
    />
    <img
      *ngIf="!isSearchInformationMaximized"
      class="ViewResizeImage"
      src="assets/images/section_expand.png"
      (click)="expandCallerInformationSection()"
      title="Expand"
    />
  </div>
  <div class="callBody" *ngIf="isSearchInformationMaximized">
    <div *ngIf="this.searchRecordList.length > 1">
      <select
        class="multipleSearchResultSelect"
        data-resetperactivity="false"
        (change)="onAgentSelectedCallerInformation($event)"
        id="CallerInfoSelect"
        [(ngModel)]="storageService.selectedSearchRecordList[storageService.currentScenarioId]"
      >
        <option selected disabled hidden style="display: none" value="DefaultMultiMatch"
          >Click for Multi-Match Options</option
        >
        <option
          *ngFor="let searchRecord of this.searchRecordList"
          id="{{ searchRecord.id }}"
          value="{{ searchRecord.id }}"
          >{{ parseSearchRecordForName(searchRecord) }}</option
        >
      </select>
    </div>
    <div *ngIf="this.searchRecordList.length === 1">
      <input
        readonly
        class="singleSearchResultSelect"
        *ngFor="let searchRecord of this.searchRecordList"
        id="{{ searchRecord.id }}"
        value="{{ parseSearchRecordForName(searchRecord) }}"
        (click)="onAgentSelectedCallerInformation($event)"
      />
    </div>
  </div>
</div>
