
<div id="createNewEntityId" class="callDisplay" style="display: grid;" >
  <div class="editor callHeader">
      <label style="margin-left: 20px">
          <b>Create New</b>
      </label>
      <!-- <img id="ViewExpandImageId-CreateNewSection" class="imageExpandCollapse ViewExpandImage" src="/assets/images/section_expand.png" title="Expand" onclick="amcUI.onViewExpandClick(this, 'ViewExpandImageId-CreateNewSection', 'ViewCollapseImageId-CreateNewSection', 'ViewDivId-CreateNewSection')">
      <img id="ViewCollapseImageId-CreateNewSection" class="imageExpandCollapse" src="/assets/images/section_collapse.png" title="Collaps" onclick="amcUI.onViewCollapseClick(this, 'ViewCollapseImageId-CreateNewSection', 'ViewExpandImageId-CreateNewSection', 'ViewDivId-CreateNewSection')"> -->
  </div>
  <div id="ViewDivId-CreateNewSection" class="callBody">
    <div class = "createNewLabel">
          <div (click) = 'createNewEntity("Case")' title="Case">
          <img class="createEntityImages"  src="/assets/images/Create_Case2.png" >
          <label for="Case"  >Case</label>
        </div>
        <div (click) = 'createNewEntity("Lead")' title="Lead">
          <img class="createEntityImages" title="Lead" src="/assets/images/Create_Lead2.png" (click) = 'createNewEntity("Lead")'>
          <label for="Lead" title="Lead" >Lead</label>
        </div>
        <div (click) = 'createNewEntity("Opportunity")' title="Opportunity">
          <img class="createEntityImages"  src="/assets/images/Create_Opportunity2.png" >
          <label  for="Opportunity"  >Opportunity</label>
        </div>

    </div>
  </div>
</div>

