
<div id="createNewEntityId" class="callDisplay" style="display: grid;" >
  <div class="editor callHeader">
      <label style="margin-left: 20px">
          <b>Create New</b>
      </label>
      <!-- <img id="ViewExpandImageId-CreateNewSection" class="imageExpandCollapse ViewExpandImage" src="/assets/images/section_expand.png" title="Expand" onclick="amcUI.onViewExpandClick(this, 'ViewExpandImageId-CreateNewSection', 'ViewCollapseImageId-CreateNewSection', 'ViewDivId-CreateNewSection')">
      <img id="ViewCollapseImageId-CreateNewSection" class="imageExpandCollapse" src="/assets/images/section_collapse.png" title="Collaps" onclick="amcUI.onViewCollapseClick(this, 'ViewCollapseImageId-CreateNewSection', 'ViewExpandImageId-CreateNewSection', 'ViewDivId-CreateNewSection')"> -->
  </div>
  <div id="ViewDivId-CreateNewSection" class="callBody">
    <div class = "createNewLabel">

          <img class="createEntityImages" src="/assets/images/Create_Case2.png" (click) = 'createNewEntity("Case")'>
          <label for="Case" title="Case" >Case</label>

          <img class="createEntityImages" src="/assets/images/Create_Lead2.png" (click) = 'createNewEntity("Lead")'>
          <label for="Lead" title="Lead" >Lead</label>

          <img class="createEntityImages" src="/assets/images/Create_Opportunity2.png" (click) = 'createNewEntity("Opportunity")'>
          <label  for="Opportunity" title="Opportunity" >Opportunity</label>


    </div>
  </div>
</div>

