<div class="body">
  <app-search-information
    *ngIf="storageService.currentScenarioId &&
    storageService.searchRecordList &&
    storageService.searchRecordList[storageService.currentScenarioId] &&
    storageService.searchRecordList[storageService.currentScenarioId].length > 0"
    [searchLayout]="searchLayout"
    (agentSelectedCallerInformation)="agentSelectedCallerInformation($event)"
    [searchRecordList]="storageService.searchRecordList[storageService.currentScenarioId]">
  </app-search-information>
  <app-activity
    *ngIf="storageService.currentScenarioId && enableCallActivity"
    (saveActivity)="saveActivity($event)"
    [scenarioId]="storageService.currentScenarioId"
    [quickCommentList]="quickCommentList"
    [isAutoSave] = "enableAutoSave"
    [quickCommentOptionRequiredCadArray]="quickCommentOptionRequiredCadArray">
  </app-activity>
  <app-recentactivities
    *ngIf="checkIfRecentActivitiesExist()"
    (saveActivity)="saveActivity($event, true)"
    (getRecentWorkItem)="getRecentWorkItem($event)"
    (screenpopWorkItem)="agentSelectedCallerInformation($event)"
    [quickCommentList]="quickCommentList">
  </app-recentactivities>
  <app-create
    *ngIf="DisplayQuickCreate"
    [Entities]="QuickCreateEntities"
    (CreateNewEntity)="createNewEntity($event)">
  </app-create>
</div>
